:root {
  --bg-dark: hsla(330, 48.5%, 32%, 1);
  --txt-dark: hsla(330, 40.2%, 45.9%, 1);
  --txt-dark-2: hsla(330, 40.2%, 45.9%, 1);
  --cta: hsla(330, 91.2%, 60%, 1);
  --txt-light: hsla(330, 93.3%, 94.1%, 1);
  --txt-grey: hsla(0, 0%, 94.1%, 1);
}
body {
  font-family: "Roboto", sans-serif, serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  display: block;
}
